<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.convert.dao.ConvertMqEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.convert.entity.ConvertMqEO" >
    <id column="id" property="id" />
    <result column="mq_code" property="mqCode" />
    <result column="mq_state" property="mqState" />
    <result column="del_flag" property="delFlag" />
    <result column="insert_time" property="insertTime" />
    <result column="update_time" property="updateTime" />
    <result column="user_id" property="userId" />
    <result column="file_path" property="filePath" />
  </resultMap>

  <!-- CONVERT_MQ table all fields -->
  <sql id="Base_Column_List" >
     id, mq_code, mq_state, del_flag, insert_time, update_time,user_id,file_path
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="mqCode != null" >
        and mq_code ${mqCodeOperator} #{mqCode}
      </if>
      <if test="mqState != null" >
        and mq_state ${mqStateOperator} #{mqState}
      </if>
      <if test="delFlag != null" >
        and del_flag ${delFlagOperator} #{delFlag}
      </if>
      <if test="insertTime != null" >
        and insert_time ${insertTimeOperator} #{insertTime}
      </if>
      <if test="insertTime1 != null" >
        and insert_time &gt;= #{insertTime1}
      </if>
      <if test="insertTime2 != null" >
        and insert_time &lt;= #{insertTime2}
      </if>
      <if test="updateTime != null" >
        and update_time ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and update_time &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and update_time &lt;= #{updateTime2}
      </if>
       <if test="userId != null" >
        and user_id userIdOperator #{userId}
      </if>
      <if test="filePath != null" >
        and file_path filePathOperator #{filePath}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.convert.entity.ConvertMqEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_CONVERT_MQ.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into CONVERT_MQ(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{mqCode, jdbcType=VARCHAR}, #{mqState, jdbcType=INTEGER}, #{delFlag, jdbcType=INTEGER}, #{insertTime, jdbcType=TIMESTAMP}, #{updateTime, jdbcType=TIMESTAMP},#{userId, jdbcType=VARCHAR},#{filePath,jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.convert.entity.ConvertMqEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_CONVERT_MQ.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into CONVERT_MQ
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="mqCode != null" >mq_code,</if>
                <if test="mqState != null" >mq_state,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="insertTime != null" >insert_time,</if>
                <if test="updateTime != null" >update_time,</if>
                <if test="userId != null" >user_id,</if>
                <if test="filePath != null" >file_path,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="mqCode != null" >#{mqCode, jdbcType=VARCHAR},</if>
                <if test="mqState != null" >#{mqState, jdbcType=INTEGER},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=INTEGER},</if>
                <if test="insertTime != null" >#{insertTime, jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null" >#{updateTime, jdbcType=TIMESTAMP},</if>
                <if test="userId != null" >#{userId, jdbcType=VARCHAR},</if>
                <if test="filePath != null" >#{filePath, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.convert.entity.ConvertMqEO" >
    update CONVERT_MQ
       set  mq_code = #{mqCode},
            mq_state = #{mqState},
            del_flag = #{delFlag},
            insert_time = #{insertTime},
            update_time = #{updateTime},
            user_id = #{userId},
            file_path = #{filePath}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.convert.entity.ConvertMqEO" >
    update CONVERT_MQ
    <set >
      <if test="mqCode != null" >
        mq_code = #{mqCode},
      </if>
      <if test="mqState != null" >
        mq_state = #{mqState},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="userId != null" >
          user_id = #{userId},
      </if>
      <if test="filePath != null" >
          file_path = #{filePath}
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 CONVERT_MQ -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from CONVERT_MQ
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CONVERT_MQ
     where id = #{value}

  </delete>

  <!-- CONVERT_MQ 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from CONVERT_MQ
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询CONVERT_MQ列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from CONVERT_MQ
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from CONVERT_MQ
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
