<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.lawss.dao.MsgModuleEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.lawss.entity.MsgModuleEO" >
    <id column="id" property="id" />
    <result column="modify_time" property="modifyTime" />
    <result column="creation_time" property="creationTime" />
    <result column="default_flag" property="defaultFlag" />
    <result column="valid_flag" property="validFlag" />
    <result column="module_name" property="moduleName" />
    <result column="module_type" property="moduleType" />
  </resultMap>

  <!-- MSG_MODULE table all fields -->
  <sql id="Base_Column_List" >
     modify_time, creation_time, default_flag, valid_flag, module_name, module_type, id
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
      AND valid_flag=0
    <trim suffixOverrides="," >
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
      <if test="creationTime != null" >
        and creation_time ${creationTimeOperator} #{creationTime}
      </if>
      <if test="creationTime1 != null" >
        and creation_time &gt;= #{creationTime1}
      </if>
      <if test="creationTime2 != null" >
        and creation_time &lt;= #{creationTime2}
      </if>
      <if test="defaultFlag != null" >
        and default_flag ${defaultFlagOperator} #{defaultFlag}
      </if>
      <if test="validFlag != null" >
        and valid_flag ${validFlagOperator} #{validFlag}
      </if>
      <if test="moduleName != null" >
        and module_name ${moduleNameOperator} #{moduleName}
      </if>
      <if test="moduleType != null" >
        and module_type ${moduleTypeOperator} #{moduleType}
      </if>
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.lawss.entity.MsgModuleEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_MSG_MODULE.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into MSG_MODULE(<include refid="Base_Column_List" />)
    values (#{modifyTime, jdbcType=TIMESTAMP}, #{creationTime, jdbcType=TIMESTAMP}, #{defaultFlag, jdbcType=INTEGER}, #{validFlag, jdbcType=INTEGER}, #{moduleName, jdbcType=VARCHAR}, #{moduleType, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.lawss.entity.MsgModuleEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_MSG_MODULE.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into MSG_MODULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >modify_time,</if>
                <if test="creationTime != null" >creation_time,</if>
                <if test="defaultFlag != null" >default_flag,</if>
                <if test="validFlag != null" >valid_flag,</if>
                <if test="moduleName != null" >module_name,</if>
                <if test="moduleType != null" >module_type,</if>
                <if test="id != null" >id,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="creationTime != null" >#{creationTime, jdbcType=TIMESTAMP},</if>
                <if test="defaultFlag != null" >#{defaultFlag, jdbcType=INTEGER},</if>
                <if test="validFlag != null" >#{validFlag, jdbcType=INTEGER},</if>
                <if test="moduleName != null" >#{moduleName, jdbcType=VARCHAR},</if>
                <if test="moduleType != null" >#{moduleType, jdbcType=VARCHAR},</if>
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.lawss.entity.MsgModuleEO" >
    update MSG_MODULE
       set  modify_time = #{modifyTime},
            creation_time = #{creationTime},
            default_flag = #{defaultFlag},
            valid_flag = #{validFlag},
            module_name = #{moduleName},
            module_type = #{moduleType}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.lawss.entity.MsgModuleEO" >
    update MSG_MODULE
    <set >
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime},
      </if>
      <if test="defaultFlag != null" >
        default_flag = #{defaultFlag},
      </if>
      <if test="validFlag != null" >
        valid_flag = #{validFlag},
      </if>
      <if test="moduleName != null" >
        module_name = #{moduleName},
      </if>
      <if test="moduleType != null" >
        module_type = #{moduleType},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 MSG_MODULE -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from MSG_MODULE
      <!--   where id = #{value} -->
      where id = #{id}
  </select>

  <!-- 删除记录
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MSG_MODULE
     where id = #{value}
  </delete>
  -->
    <!-- liwenxuan：删除资料中心数据-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
        update MSG_MODULE
        SET
        MSG_MODULE.valid_flag=1
        WHERE
        MSG_MODULE.id=#{id}
    </update>

  <!-- MSG_MODULE 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from MSG_MODULE
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询MSG_MODULE列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from MSG_MODULE
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from MSG_MODULE
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
