<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.lawss.dao.SarProductInfoEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.lawss.entity.SarProductInfoEO" >
    <id column="id" property="id" />
    <result column="modify_time" property="modifyTime" />
    <result column="creation_time" property="creationTime" />
    <result column="creation_user" property="creationUser" />
    <result column="car_mode_file" property="carModeFile" />
    <result column="energy_kind" property="energyKind" />
    <result column="product_type" property="productType" />
    <result column="product_brand" property="productBrand" />
    <result column="product_name" property="productName" />
    <result column="product_set" property="productSet" />
    <result column="prodect_code" property="prodectCode" />
  </resultMap>



  <!-- SAR_PRODUCT_INFO table all fields -->
  <sql id="Base_Column_List" >
     modify_time, creation_time, creation_user, car_mode_file, energy_kind, product_type, product_brand, product_name, product_set, prodect_code, id
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
      <if test="creationTime != null" >
        and creation_time ${creationTimeOperator} #{creationTime}
      </if>
      <if test="creationTime1 != null" >
        and creation_time &gt;= #{creationTime1}
      </if>
      <if test="creationTime2 != null" >
        and creation_time &lt;= #{creationTime2}
      </if>
      <if test="creationUser != null" >
        and creation_user ${creationUserOperator} #{creationUser}
      </if>
      <if test="carModeFile != null" >
        and car_mode_file ${carModeFileOperator} #{carModeFile}
      </if>
      <if test="energyKind != null" >
        and energy_kind ${energyKindOperator} #{energyKind}
      </if>
      <if test="productType != null" >
        and product_type ${productTypeOperator} #{productType}
      </if>
      <if test="productBrand != null" >
        and product_brand ${productBrandOperator} #{productBrand}
      </if>
      <if test="productName != null" >
        and product_name ${productNameOperator} #{productName}
      </if>
      <if test="productSet != null" >
        and product_set ${productSetOperator} #{productSet}
      </if>
      <if test="prodectCode != null" >
        and prodect_code ${prodectCodeOperator} #{prodectCode}
      </if>
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.lawss.entity.SarProductInfoEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_SAR_PRODUCT_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into SAR_PRODUCT_INFO(<include refid="Base_Column_List" />)
    values (#{modifyTime, jdbcType=TIMESTAMP}, #{creationTime, jdbcType=TIMESTAMP}, #{creationUser, jdbcType=VARCHAR}, #{carModeFile, jdbcType=VARCHAR}, #{energyKind, jdbcType=VARCHAR}, #{productType, jdbcType=VARCHAR}, #{productBrand, jdbcType=VARCHAR}, #{productName, jdbcType=VARCHAR}, #{productSet, jdbcType=VARCHAR}, #{prodectCode, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.lawss.entity.SarProductInfoEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_SAR_PRODUCT_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into SAR_PRODUCT_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >modify_time,</if>
                <if test="creationTime != null" >creation_time,</if>
                <if test="creationUser != null" >creation_user,</if>
                <if test="carModeFile != null" >car_mode_file,</if>
                <if test="energyKind != null" >energy_kind,</if>
                <if test="productType != null" >product_type,</if>
                <if test="productBrand != null" >product_brand,</if>
                <if test="productName != null" >product_name,</if>
                <if test="productSet != null" >product_set,</if>
                <if test="prodectCode != null" >prodect_code,</if>
                <if test="id != null" >id,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="creationTime != null" >#{creationTime, jdbcType=TIMESTAMP},</if>
                <if test="creationUser != null" >#{creationUser, jdbcType=VARCHAR},</if>
                <if test="carModeFile != null" >#{carModeFile, jdbcType=VARCHAR},</if>
                <if test="energyKind != null" >#{energyKind, jdbcType=VARCHAR},</if>
                <if test="productType != null" >#{productType, jdbcType=VARCHAR},</if>
                <if test="productBrand != null" >#{productBrand, jdbcType=VARCHAR},</if>
                <if test="productName != null" >#{productName, jdbcType=VARCHAR},</if>
                <if test="productSet != null" >#{productSet, jdbcType=VARCHAR},</if>
                <if test="prodectCode != null" >#{prodectCode, jdbcType=VARCHAR},</if>
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.lawss.entity.SarProductInfoEO" >
    update SAR_PRODUCT_INFO
       set  modify_time = #{modifyTime},
            creation_time = #{creationTime},
            creation_user = #{creationUser},
            car_mode_file = #{carModeFile},
            energy_kind = #{energyKind},
            product_type = #{productType},
            product_brand = #{productBrand},
            product_name = #{productName},
            product_set = #{productSet},
            prodect_code = #{prodectCode}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.lawss.entity.SarProductInfoEO" >
    update SAR_PRODUCT_INFO
    <set >
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime},
      </if>
      <if test="creationUser != null" >
        creation_user = #{creationUser},
      </if>
      <if test="carModeFile != null" >
        car_mode_file = #{carModeFile},
      </if>
      <if test="energyKind != null" >
        energy_kind = #{energyKind},
      </if>
      <if test="productType != null" >
        product_type = #{productType},
      </if>
      <if test="productBrand != null" >
        product_brand = #{productBrand},
      </if>
      <if test="productName != null" >
        product_name = #{productName},
      </if>
      <if test="productSet != null" >
        product_set = #{productSet},
      </if>
      <if test="prodectCode != null" >
        prodect_code = #{prodectCode},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 SAR_PRODUCT_INFO -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from SAR_PRODUCT_INFO
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SAR_PRODUCT_INFO
     where id = #{value}

  </delete>

  <!-- SAR_PRODUCT_INFO 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from SAR_PRODUCT_INFO
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询SAR_PRODUCT_INFO列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from SAR_PRODUCT_INFO
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from SAR_PRODUCT_INFO
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

  <sql id="Base_Column_List_show" >
     SAR_PRODUCT_INFO.modify_time, SAR_PRODUCT_INFO.creation_time, SAR_PRODUCT_INFO.creation_user, car_mode_file, energy_kind, product_type, product_brand, product_name, product_set, prodect_code, SAR_PRODUCT_INFO.id
  </sql>
  <sql id="SarProductInfo_Where_Clause">
        where 1=1
        <trim suffixOverrides="," >
            <if test="modifyTime != null" >
                and modify_time ${modifyTimeOperator} #{modifyTime}
            </if>
            <if test="modifyTime1 != null" >
                and modify_time &gt;= #{modifyTime1}
            </if>
            <if test="modifyTime2 != null" >
                and modify_time &lt;= #{modifyTime2}
            </if>
            <if test="creationTime != null" >
                and creation_time ${creationTimeOperator} #{creationTime}
            </if>
            <if test="creationTime1 != null" >
                and creation_time &gt;= #{creationTime1}
            </if>
            <if test="creationTime2 != null" >
                and creation_time &lt;= #{creationTime2}
            </if>
            <if test="creationUser != null" >
                and creation_user ${creationUserOperator} #{creationUser}
            </if>
            <if test="carModeFile != null" >
                and car_mode_file ${carModeFileOperator} #{carModeFile}
            </if>
            <if test="energyKind != null" >
                and energy_kind ${energyKindOperator} #{energyKind}
            </if>
            <if test="productType != null" >
                and product_type ${productTypeOperator} #{productType}
            </if>
            <if test="productBrand != null" >
                and product_brand ${productBrandOperator} #{productBrand}
            </if>
            <if test="productName != null" >
                and product_name ${productNameOperator} #{productName}
            </if>
            <if test="productSet != null" >
                and product_set ${productSetOperator} #{productSet}
            </if>
            <if test="prodectCode != null" >
                and prodect_code ${prodectCodeOperator} #{prodectCode}
            </if>
        </trim>
    </sql>
  <!-- 分页查询条件当页数据 -->
  <select id="getSarProductInfoPage" resultMap="BaseResultMap" parameterType="com.adc.da.lawss.page.SarProductInfoEOPage">
        select * from
        (select tmp_tb.* , rownum rn from
        (select <include refid="Base_Column_List_show" /> ,
        (
        SELECT
        listagg ( TS_DICTYPE.DIC_TYPE_NAME, ',' ) within GROUP ( ORDER BY SAR_PRODUCT_VAL.property_type )
        FROM
        SAR_PRODUCT_VAL left join TS_DICTYPE  on  (TS_DICTYPE.dic_type_code = SAR_PRODUCT_VAL.PROPERTY_VALUE  and TS_DICTYPE.dic_id is not null)
        WHERE
        SAR_PRODUCT_VAL.PRODUCT_ID = SAR_PRODUCT_INFO.id
        AND SAR_PRODUCT_VAL.property_type = 'ENERGY_KIND'
        ) AS energyKindShow,
       (
       SELECT
       listagg ( TS_DICTYPE.DIC_TYPE_NAME, ',' ) within GROUP ( ORDER BY SAR_PRODUCT_VAL.property_type )
       FROM
       SAR_PRODUCT_VAL left join TS_DICTYPE  on  (TS_DICTYPE.dic_type_code = SAR_PRODUCT_VAL.PROPERTY_VALUE  and TS_DICTYPE.dic_id is not null)
       WHERE
       SAR_PRODUCT_VAL.PRODUCT_ID = SAR_PRODUCT_INFO.id
       AND SAR_PRODUCT_VAL.property_type = 'PRODUCT_TYPE'
       ) AS productTypeShow
        from SAR_PRODUCT_INFO
        <include refid="SarProductInfo_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''" >
            ${pager.orderCondition}
        </if>
        ) tmp_tb where rownum &lt;= ${pager.endIndex})
        where rn &gt;= ${pager.startIndex}
    </select>
  <!-- 分页查询条件查询一共有多少条数据，配合分页 -->
  <select id="getSarProductInfoCount" resultType="java.lang.Integer" parameterType="com.adc.da.lawss.page.SarProductInfoEOPage">
        select count(1) from SAR_STANDARDS_INFO
        <include refid="SarProductInfo_Where_Clause"/>
  </select>

</mapper>
