<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.lawss.dao.SarStandItemsEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.lawss.vo.SarStandItemsVO" >
    <id column="id" property="id" />
    <result column="modify_time" property="modifyTime" />
    <result column="creation_time" property="creationTime" />
    <result column="creation_user" property="creationUser" />
    <result column="valid_flag" property="validFlag" />
    <result column="remarks" property="remarks" />
    <result column="responsible_unit" property="responsibleUnit" />
    <result column="energy_kind" property="energyKind" />
    <result column="apply_arctic" property="applyArctic" />
    <result column="tack_time" property="tackTime" />
    <result column="parts" property="parts" />
    <result column="items_name" property="itemsName" />
    <result column="items_num" property="itemsNum" />
    <result column="stand_id" property="standId" />
  </resultMap>



  <!-- SAR_STAND_ITEMS table all fields -->
  <sql id="Base_Column_List" >
     modify_time, creation_time, creation_user, valid_flag, remarks, responsible_unit, energy_kind, apply_arctic, tack_time, parts, items_name, items_num, stand_id, id
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
      <if test="creationTime != null" >
        and creation_time ${creationTimeOperator} #{creationTime}
      </if>
      <if test="creationTime1 != null" >
        and creation_time &gt;= #{creationTime1}
      </if>
      <if test="creationTime2 != null" >
        and creation_time &lt;= #{creationTime2}
      </if>
      <if test="creationUser != null" >
        and creation_user ${creationUserOperator} #{creationUser}
      </if>
      <if test="validFlag != null" >
        and valid_flag ${validFlagOperator} #{validFlag}
      </if>
      <if test="remarks != null" >
        and remarks ${remarksOperator} #{remarks}
      </if>
      <if test="responsibleUnit != null" >
        and responsible_unit ${responsibleUnitOperator} #{responsibleUnit}
      </if>
      <if test="energyKind != null" >
        and energy_kind ${energyKindOperator} #{energyKind}
      </if>
      <if test="applyArctic != null" >
        and apply_arctic ${applyArcticOperator} #{applyArctic}
      </if>
      <if test="tackTime != null" >
        and tack_time ${tackTimeOperator} #{tackTime}
      </if>
      <if test="tackTime1 != null" >
        and tack_time &gt;= #{tackTime1}
      </if>
      <if test="tackTime2 != null" >
        and tack_time &lt;= #{tackTime2}
      </if>
      <if test="parts != null" >
        and parts ${partsOperator} #{parts}
      </if>
      <if test="itemsName != null" >
        and items_name ${itemsNameOperator} #{itemsName}
      </if>
      <if test="itemsNum != null" >
        and items_num ${itemsNumOperator} #{itemsNum}
      </if>
      <if test="standId != null" >
        and stand_id ${standIdOperator} #{standId}
      </if>
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.lawss.entity.SarStandItemsEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_SAR_STAND_ITEMS.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into SAR_STAND_ITEMS(<include refid="Base_Column_List" />)
    values (#{modifyTime, jdbcType=TIMESTAMP}, #{creationTime, jdbcType=TIMESTAMP}, #{creationUser, jdbcType=VARCHAR}, #{validFlag, jdbcType=INTEGER}, #{remarks, jdbcType=VARCHAR}, #{responsibleUnit, jdbcType=VARCHAR}, #{energyKind, jdbcType=VARCHAR}, #{applyArctic, jdbcType=VARCHAR}, #{tackTime, jdbcType=TIMESTAMP}, #{parts, jdbcType=VARCHAR}, #{itemsName, jdbcType=VARCHAR}, #{itemsNum, jdbcType=VARCHAR}, #{standId, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.lawss.entity.SarStandItemsEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_SAR_STAND_ITEMS.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into SAR_STAND_ITEMS
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >modify_time,</if>
                <if test="creationTime != null" >creation_time,</if>
                <if test="creationUser != null" >creation_user,</if>
                <if test="validFlag != null" >valid_flag,</if>
                <if test="remarks != null" >remarks,</if>
                <if test="responsibleUnit != null" >responsible_unit,</if>
                <if test="energyKind != null" >energy_kind,</if>
                <if test="applyArctic != null" >apply_arctic,</if>
                <if test="tackTime != null" >tack_time,</if>
                <if test="parts != null" >parts,</if>
                <if test="itemsName != null" >items_name,</if>
                <if test="itemsNum != null" >items_num,</if>
                <if test="standId != null" >stand_id,</if>
                <if test="id != null" >id,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="creationTime != null" >#{creationTime, jdbcType=TIMESTAMP},</if>
                <if test="creationUser != null" >#{creationUser, jdbcType=VARCHAR},</if>
                <if test="validFlag != null" >#{validFlag, jdbcType=INTEGER},</if>
                <if test="remarks != null" >#{remarks, jdbcType=VARCHAR},</if>
                <if test="responsibleUnit != null" >#{responsibleUnit, jdbcType=VARCHAR},</if>
                <if test="energyKind != null" >#{energyKind, jdbcType=VARCHAR},</if>
                <if test="applyArctic != null" >#{applyArctic, jdbcType=VARCHAR},</if>
                <if test="tackTime != null" >#{tackTime, jdbcType=TIMESTAMP},</if>
                <if test="parts != null" >#{parts, jdbcType=VARCHAR},</if>
                <if test="itemsName != null" >#{itemsName, jdbcType=VARCHAR},</if>
                <if test="itemsNum != null" >#{itemsNum, jdbcType=VARCHAR},</if>
                <if test="standId != null" >#{standId, jdbcType=VARCHAR},</if>
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.lawss.entity.SarStandItemsEO" >
    update SAR_STAND_ITEMS
       set  modify_time = #{modifyTime},
            creation_time = #{creationTime},
            creation_user = #{creationUser},
            valid_flag = #{validFlag},
            remarks = #{remarks},
            responsible_unit = #{responsibleUnit},
            energy_kind = #{energyKind},
            apply_arctic = #{applyArctic},
            tack_time = #{tackTime},
            parts = #{parts},
            items_name = #{itemsName},
            items_num = #{itemsNum},
            stand_id = #{standId}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.lawss.entity.SarStandItemsEO" >
    update SAR_STAND_ITEMS
    <set >
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime},
      </if>
      <if test="creationUser != null" >
        creation_user = #{creationUser},
      </if>
      <if test="validFlag != null" >
        valid_flag = #{validFlag},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks},
      </if>
      <if test="responsibleUnit != null" >
        responsible_unit = #{responsibleUnit},
      </if>
      <if test="energyKind != null" >
        energy_kind = #{energyKind},
      </if>
      <if test="applyArctic != null" >
        apply_arctic = #{applyArctic},
      </if>
      <if test="tackTime != null" >
        tack_time = #{tackTime},
      </if>
      <if test="parts != null" >
        parts = #{parts},
      </if>
      <if test="itemsName != null" >
        items_name = #{itemsName},
      </if>
      <if test="itemsNum != null" >
        items_num = #{itemsNum},
      </if>
      <if test="standId != null" >
        stand_id = #{standId},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 SAR_STAND_ITEMS -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from SAR_STAND_ITEMS
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SAR_STAND_ITEMS
     where id = #{value}

  </delete>

  <!-- SAR_STAND_ITEMS 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from SAR_STAND_ITEMS
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询SAR_STAND_ITEMS列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from SAR_STAND_ITEMS
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from SAR_STAND_ITEMS
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

   <select id="querySarStandItemsList" resultMap="BaseResultMap" parameterType="com.adc.da.lawss.page.SarStandItemsEOPage">
        select <include refid="Base_Column_List"/>,
       (
       SELECT
       listagg ( TS_DICTYPE.DIC_TYPE_NAME, ',' ) within GROUP ( ORDER BY SAR_STAND_ITEM_VAL.property_type )
       FROM
       SAR_STAND_ITEM_VAL  left join TS_DICTYPE  on  (TS_DICTYPE.dic_type_code = SAR_STAND_ITEM_VAL.property_val  and TS_DICTYPE.dic_id is not null)
       WHERE
       SAR_STAND_ITEM_VAL.ITEM_ID = SAR_STAND_ITEMS.id
       AND SAR_STAND_ITEM_VAL.property_type = 'APPLY_ARCTIC'
       ) AS applyArcticShow,
       (
       SELECT
       listagg ( TS_DICTYPE.DIC_TYPE_NAME, ',' ) within GROUP ( ORDER BY SAR_STAND_ITEM_VAL.property_type )
       FROM
       SAR_STAND_ITEM_VAL left join TS_DICTYPE  on  (TS_DICTYPE.dic_type_code = SAR_STAND_ITEM_VAL.property_val  and TS_DICTYPE.dic_id is not null)
       WHERE
       SAR_STAND_ITEM_VAL.ITEM_ID = SAR_STAND_ITEMS.id
       AND SAR_STAND_ITEM_VAL.property_type = 'ENERGY_KIND'
       ) AS emergyKindShow
        from SAR_STAND_ITEMS

        <include refid="Base_Where_Clause"/>
   </select>

</mapper>
