<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.sys.dao.DicEODao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.adc.da.sys.entity.DictionaryEO">
		<id column="id" property="id" />
		<result column="dictionary_code" property="dictionaryCode" />
		<result column="dictionary_name" property="dictionaryName" />
		<result column="dictionary_seq" property="dictionarySeq" />
		<result column="valid_flag" property="validFlag" />
		<result column="dic_type_name" property="dicTypeName" />
		<result column="dic_id" property="dicId" />
		<result column="creation_time" property="creationTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

	<!-- TS_DICTIONARY table all fields -->
	<sql id="Base_Column_List">
		modify_time, creation_time, valid_flag, dictionary_seq, dictionary_name, dictionary_code, id
	</sql>

	<resultMap id="DicTypeMap" extends="BaseResultMap" type="com.adc.da.sys.entity.DictionaryEO">
		<collection property="dicTypeEOList" ofType="com.adc.da.sys.entity.DicTypeEO">
			<id column="type_id" property="id" />
			<result column="dic_type_code" property="dicTypeCode" />
			<result column="dic_type_name" property="dicTypeName" />
			<result column="dic_id" property="dicId" />
			<result column="parent_id" property="parentId" />
			<result column="type_valid_flag" property="validFlag" />
		</collection>
	</resultMap>

	<sql id="Dic_Type_List">
		u.*, ur.id as type_id,
		ur.dic_type_code as dic_type_code,
		ur.dic_type_name as dic_type_name,
		ur.dic_id as dic_id,
		ur.parent_id as parent_id,
		ur.valid_flag as type_valid_flag
	</sql>

	<!-- 查询条件 -->
	<sql id="Base_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and u0.id ${idOperator} #{id}
			</if>
			<if test="dictionaryCode != null and dictionaryCode != ''">
				and u0.dictionary_code ${dictionaryCodeOperator} '%${dictionaryCode}%'
			</if>
			<if test="dictionaryName != null and dictionaryName != ''">
				and u0.dictionary_name ${dictionaryNameOperator} '%${dictionaryName}%'
			</if>
			<if test="validFlag != null" >
        		and u0.valid_flag ${validFlagOperator} #{validFlag}
      		</if>
      		<if test="dictionarySeq != null" >
        		and u0.dictionary_seq ${dictionarySeqOperator} #{dictionarySeq}
      		</if>
	      	<if test="modifyTime != null" >
	        	and u0.modify_time ${modifyTimeOperator} #{modifyTime}
	      	</if>
	      	<if test="modifyTime1 != null" >
	        	and u0.modify_time &gt;= #{modifyTime1}
	      	</if>
	      	<if test="modifyTime2 != null" >
	        	and u0.modify_time &lt;= #{modifyTime2}
	      	</if>
	      	<if test="creationTime != null" >
	        	and u0.creation_time ${creationTimeOperator} #{creationTime}
	      	</if>
	      	<if test="creationTime1 != null" >
	        	and u0.creation_time &gt;= #{creationTime1}
	      	</if>
	      	<if test="creationTime2 != null" >
	        	and u0.creation_time &lt;= #{creationTime2}
	      	</if>			
		</trim>
	</sql>

	<update id="updateByPrimaryKey" parameterType="com.adc.da.sys.entity.DictionaryEO">
		update TS_DICTIONARY
		<set>
			dictionary_code = #{dictionaryCode},dictionary_name = #{dictionaryName}, modify_time = #{modifyTime},dictionary_seq = #{dictionarySeq},valid_flag = #{validFlag}
		</set>
		where id = #{id}
	</update>

	

	<update id="deleteLogicInBatch" parameterType="java.util.List">
		update TS_USER
		set valid_flag = 1
		where usid in
		<foreach item="usid" collection="list" open="(" separator=","
			close=")" index="index">
			#{usid}
		</foreach>
	</update>

	
	<select id="getDictionaryEOById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TS_DICTIONARY
		where id = #{id}
	</select>
	<select id="getDictionaryEOByDicCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TS_DICTIONARY
		where dictionary_code = #{dictionaryCode} AND valid_flag = 0
	</select>

	<!--杜云宝: 根据字典代码查询其详情（俩表）-->
	<select id="getDicEOAndTypeEoByDicCode" resultMap="DicTypeMap"
			parameterType="java.lang.String">
		select
		<include refid="Dic_Type_List" />
		from TS_DICTIONARY u LEFT JOIN TS_DICTYPE ur ON u.ID = ur.DIC_ID
		where dictionary_code = #{dictionaryCode} AND u.valid_flag = 0 AND ur.valid_flag = 0
	</select>


	<select id="getDictionaryEOByDicName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TS_DICTIONARY
		where dictionary_name = #{dictionaryName}
	</select>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.adc.da.sys.entity.DictionaryEO">
		insert into TS_DICTIONARY(<include refid="Base_Column_List" />)
	    values (#{modifyTime}, #{creationTime}, #{validFlag}, #{dictionarySeq}, #{dictionaryName}, #{dictionaryCode}, #{id})
	</insert>

	<!-- 删除记录 -->
	
	<update id="deleteDic" parameterType="java.lang.String">
		update TS_DICTIONARY
		set valid_flag = 1
		where id = #{id}
	</update>

	<!-- TS_DICTIONARY 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="com.adc.da.base.page.BasePage">
		select count(distinct u0.id) from TS_DICTIONARY u0
		left join TS_DICTYPE ur0 on u0.id = ur0.dic_id
		<include refid="Base_Where_Clause" />
		and u0.valid_flag != 1
	</select>

	<!-- 查询TS_USER列表 -->
    <select id="queryByPage" resultMap="DicTypeMap" parameterType="com.adc.da.base.page.BasePage">
	  select <include refid="Dic_Type_List" /> from
		  (select tmp_tb.* , rownum rn from
			  (select distinct u0.* from TS_DICTIONARY u0
			   left join TS_DICTYPE ur0 on u0.id = ur0.dic_id
			   <include refid="Base_Where_Clause"/>
			   and u0.valid_flag != 1
			   <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	  ${pager.orderCondition}
			   </if>
			  ) tmp_tb where rownum &lt;= ${pager.endIndex}) u
			  left join TS_DICTYPE ur on u.id = ur.dic_id
			  where rn &gt;= ${pager.startIndex}
    </select>

	<select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
      select <include refid="Base_Column_List"/> from TS_USER
      <include refid="Base_Where_Clause"/>
      <if test="pager.orderCondition != null and pager.orderCondition != ''" >
         ${pager.orderCondition}
      </if>
	</select>



</mapper>
