<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.sys.dao.DicTypeEODao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="com.adc.da.sys.entity.DicTypeEO">
        <id column="id" property="id"/>
        <result column="dic_type_code" property="dicTypeCode"/>
        <result column="dic_type_name" property="dicTypeName"/>
        <result column="parent_id" property="parentId"/>
        <result column="dic_id" property="dicId"/>
        <result column="valid_flag" property="validFlag"/>
        <association property="dictionaryEO" resultMap="BaseResultMapOne">
        </association>
    </resultMap>
    <!--liwenxuan:映射DictionaryEO中的新增时间字段在字典类型明细管理中显示-->
    <resultMap id="BaseResultMapOne" type="com.adc.da.sys.entity.DictionaryEO">
        <id column="dic_id" property="id"/>
        <result column="creation_time" property="creationTime"/>
    </resultMap>
    <!-- TS_DICTYPE table all fields -->
    <sql id="Base_Column_List">
        id,parent_id, dic_type_code, dic_type_name, dic_id,valid_flag
    </sql>

    <!--分页显示A-->
    <sql id="Base_Column_ListPageA">
		TS_DICTYPE.id,TS_DICTYPE.parent_id, TS_DICTYPE.dic_type_code, TS_DICTYPE.dic_type_name, TS_DICTYPE.dic_id,TS_DICTYPE.valid_flag,td.creation_time
	</sql>

    <!--分页显示B-->
    <sql id="Base_Column_ListPageB">
		a.id,a.parent_id, a.dic_type_code, a.dic_type_name, a.dic_id,a.valid_flag,a.creation_time
	</sql>

    <sql id="Dic_Type_List">
		u.*, ur.id as type_id,
		ur.dic_type_code as dic_type_code,
		ur.dic_type_name as dic_type_name,
		ur.dic_id as dic_id,
		ur.parent_id as parent_id,
		ur.valid_flag as type_valid_flag
	</sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where valid_flag = 0
        <trim suffixOverrides=",">
            <if test="id != null">
                and id ${idOperator} #{id}
            </if>
            <if test="dicId != null">
                and dic_id ${dicIdOperator} #{dicId}
            </if>
            <if test="dicTypeName != null">
                and dic_type_name ${dicTypeNameOperator} concat(concat('%',#{dicTypeName}),'%')
            </if>
            <if test="dicTypeCode != null">
                and dic_type_code ${dicTypeCodeOperator} concat(concat('%',#{dicTypeCode}),'%')
            </if>
            <if test="validFlag != null">
                and valid_flag ${validFlagOperator} #{validFlag}
            </if>
            <if test="parentId != null">
                and parent_id ${parentIdOperator} #{parentId}
            </if>
        </trim>
    </sql>

    <!--分页判断条件-->
    <sql id="Base_Where_ClausePage">
        where TS_DICTYPE.valid_flag = 0
        <trim suffixOverrides=",">
            <if test="id != null">
                and TS_DICTYPE.id ${idOperator} #{id}
            </if>
            <if test="dicId != null">
                and TS_DICTYPE.dic_id ${dicIdOperator} #{dicId}
            </if>
            <if test="dicTypeName != null">
                and TS_DICTYPE.dic_type_name ${dicTypeNameOperator} concat(concat('%',#{dicTypeName}),'%')
            </if>
            <if test="dicTypeCode != null">
                and TS_DICTYPE.dic_type_code ${dicTypeCodeOperator} concat(concat('%',#{dicTypeCode}),'%')
            </if>
            <if test="parentId != null">
                and TS_DICTYPE.parent_id ${parentIdOperator} #{parentId}
            </if>
        </trim>
    </sql>

    <!--对修改做了判断-->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.sys.entity.DicTypeEO">
        update TS_DICTYPE
        <set>
            <if test="dicTypeCode != null">
                dic_type_code = #{dicTypeCode},
            </if>
            <if test="dicTypeName != null">
                dic_type_name = #{dicTypeName},
            </if>
            <if test="dicId != null">
                dic_id = #{dicId},
            </if>
            <if test="validFlag != null">
                valid_flag = #{validFlag},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--李文轩：删除多条数据-->
    <update id="deleteDicTypeByIdInBatch" parameterType="java.util.List">
        update TS_DICTYPE
        SET valid_flag = 1
        where id in
        <foreach item="id" collection="list" open="(" separator=","
                 close=")" index="index">
            #{id}
        </foreach>
    </update>


    <select id="getDicTypeEOById" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from TS_DICTYPE
        where id = #{id}
    </select>
    <select id="getDicTypeEOByDicTypeCode" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from TS_DICTYPE
        where dic_type_code = #{dicTypeCode} AND DIC_ID = #{dicId} AND valid_flag = 0
        <if test="id !=null">
            AND id != #{id}
        </if>
    </select>


    <!-- 插入记录 -->
    <insert id="insert" parameterType="com.adc.da.sys.entity.DicTypeEO">
        insert into TS_DICTYPE(
        <include refid="Base_Column_List"/>
        )
        values (#{id},#{parentId}, #{dicTypeCode}, #{dicTypeName}, #{dicId}, #{validFlag})
    </insert>

    <insert id="insertSelective" parameterType="com.adc.da.sys.entity.DicTypeEO">
        insert into TS_DICTYPE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="validFlag != null">valid_flag,</if>
            <if test="dicId != null">DIC_ID,</if>
            <if test="dicTypeName != null">DIC_TYPE_NAME,</if>
            <if test="dicTypeCode != null">DIC_TYPE_CODE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="dicId != null">#{dicId},</if>
            <if test="dicTypeName != null">#{dicTypeName},</if>
            <if test="dicTypeCode != null">#{dicTypeCode},</if>
        </trim>

    </insert>

    <!-- TS_DICTYPE 列表总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="com.adc.da.base.page.BasePage">
        select count(distinct u0.id) from TS_DICTYPE u0
        <include refid="Base_Where_Clause"/>
        and u0.valid_flag != 1
    </select>

    <!-- 查询TS_DICTYPE列表 -->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_ListPageB"/>
        from
        (select tmp_tb.* , rownum rn from
        (select
        <include refid="Base_Column_ListPageA"/>
        from TS_DICTYPE
        LEFT JOIN TS_DICTIONARY td ON td.id = TS_DICTYPE.dic_id
        <include refid="Base_Where_ClausePage"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        ) tmp_tb where rownum &lt;= ${pager.endIndex}) a
        where rn &gt;= ${pager.startIndex}

    </select>

    <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_List"/>
        from TS_USER
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
    </select>

    <select id="getTypeIdByDicIdAndTypeName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TS_DICTYPE
        where DIC_TYPE_NAME = #{typeName} AND DIC_ID = #{dicId} AND valid_flag = 0
        <if test="id">
            AND id != #{id}
        </if>
    </select>

    <insert id="batchInsertTypeEo">
        INSERT INTO TS_DICTYPE ("ID","parent_id","valid_flag", "DIC_ID", "DIC_TYPE_NAME")
        VALUES
        <foreach collection="ModelType" item="eo" separator=",">
            (#{eo.id},#{eo.parentId},#{eo.validFlag},#{eo.dicId},#{eo.dicTypeName})
        </foreach>
    </insert>

    <update id="deleteDicTypeByDicId" parameterType="java.lang.String">
		update TS_DICTYPE
		set valid_flag = 1
		where ID = #{id}
	</update>
    <!--李文轩：这是删除一条数据和上面的写重复了-->
    <!--<update id="deleteFlagTo1" parameterType="java.lang.String">
        update TS_DICTYPE
        set valid_flag = 1
        where id = #{id}
    </update>-->

    <!--create by yangxuenan-->
    <select id="getDicTypeByDicCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		dt.id,dt.parent_id,dt.dic_type_code,dt.dic_type_name,dt.dic_id
		from TS_DICTIONARY dn LEFT JOIN TS_DICTYPE dt ON dn.ID = dt.DIC_ID
		where dictionary_code = #{dictionaryCode} AND dn.VALID_FLAG = 0 AND dt.VALID_FLAG = 0
	</select>
</mapper>
