<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.sys.dao.DicTypeEODao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.adc.da.sys.entity.DicTypeEO">
		<id column="id" property="id" />
		<result column="dic_type_code" property="dicTypeCode" />
		<result column="dic_type_name" property="dicTypeName" />
		<result column="parent_id" property="parentId" />
		<result column="dic_id" property="dicId" />
		<result column="valid_flag" property="validFlag" />
	</resultMap>

	<!-- TS_DICTYPE table all fields -->
	<sql id="Base_Column_List">
		id,parent_id, dic_type_code, dic_type_name, dic_id,valid_flag
	</sql>

	<resultMap id="DicTypeMap" extends="BaseResultMap" type="com.adc.da.sys.entity.DictionaryEO">
		<collection property="dicTypeEOList" ofType="com.adc.da.sys.entity.DicTypeEO">
			<id column="type_id" property="id" />
			<result column="dic_type_code" property="dicTypeCode" />
			<result column="dic_type_name" property="dicTypeName" />
			<result column="dic_id" property="dicId" />
			<result column="parent_id" property="parentId" />
			<result column="type_valid_flag" property="validFlag" />
		</collection>
	</resultMap>

	<sql id="Dic_Type_List">
		u.*, ur.id as type_id,
		ur.dic_type_code as dic_type_code,
		ur.dic_type_name as dic_type_name,
		ur.dic_id as dic_id,
		ur.parent_id as parent_id,
		ur.valid_flag as type_valid_flag
	</sql>

	<!-- 查询条件 -->
	<sql id="Base_Where_Clause">
		where valid_flag = 0 
		<trim suffixOverrides=",">
			<if test="id != null">
				and id ${idOperator} #{id}
			</if>
			<if test="dicId != null">
				and dic_id ${dicIdOperator} #{dicId}
			</if>
			<if test="dicTypeName != null">
				and dic_type_name ${dicTypeNameOperator} concat(concat('%',#{dicTypeName}),'%')
			</if>
			<if test="validFlag != null" >
        		and valid_flag ${validFlagOperator} #{validFlag}
      		</if>
      		<if test="parentId != null" >
        		and parent_id ${parentIdOperator} #{parentId}
      		</if>
		</trim>
	</sql>


	<update id="updateByPrimaryKeySelective" parameterType="com.adc.da.sys.entity.DicTypeEO">
		update TS_DICTYPE
		<set>
			dic_type_code = #{dicTypeCode},dic_type_name = #{dicTypeName},dic_id = #{dicId},valid_flag = #{validFlag},parent_id = #{parentId}
		</set>
		where id = #{id}
	</update>
<!--李文轩：这个是把数据整整删除了，应该是把validflag改成1-->
	<!--<delete id="deleteDicTypeByIdInBatch" parameterType="java.util.List">
		delete from TS_DICTYPE
		where id in
		<foreach item="id" collection="list" open="(" separator=","
			close=")" index="index">
			#{id}
		</foreach>
	</delete>-->

	<!--李文轩：删除多条数据-->
	<update id="deleteDicTypeByIdInBatch"  parameterType="java.util.List">
			update TS_DICTYPE
		SET  valid_flag = 1
		where id in
		<foreach item="id" collection="list" open="(" separator=","
				 close=")" index="index">
		#{id}
		</foreach>
	</update>


	<select id="getDicTypeEOById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TS_DICTYPE
		where id = #{id}
	</select>
	<select id="getDicTypeEOByDicTypeCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TS_DICTYPE
		where dic_type_code = #{dicTypeCode}
	</select>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.adc.da.sys.entity.DicTypeEO">
		insert into TS_DICTYPE(
		<include refid="Base_Column_List" />
		)
		values (#{id},#{parentId}, #{dicTypeCode}, #{dicTypeName}, #{dicId}, #{validFlag})
	</insert>

    <insert id="insertSelective" parameterType="com.adc.da.sys.entity.DicTypeEO">
		insert into TS_DICTYPE
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >ID,</if>
			<if test="parentId != null" >parent_id,</if>
			<if test="validFlag != null" >valid_flag,</if>
			<if test="dicId != null" >DIC_ID,</if>
			<if test="dicTypeName != null" >DIC_TYPE_NAME,</if>
			<if test="dicTypeCode != null" >DIC_TYPE_CODE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >#{id},</if>
			<if test="parentId != null" >#{parentId},</if>
			<if test="validFlag != null" >#{validFlag},</if>
			<if test="dicId != null" >#{dicId},</if>
			<if test="dicTypeName != null" >#{dicTypeName},</if>
			<if test="dicTypeCode != null" >#{dicTypeCode},</if>
		</trim>

    </insert>

	<!-- TS_DICTYPE 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="com.adc.da.base.page.BasePage">
		select count(distinct u0.id) from TS_DICTYPE u0
		<include refid="Base_Where_Clause" />
		and u0.valid_flag != 1
	</select>

	<!-- 查询TS_DICTYPE列表 -->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	   select <include refid="Base_Column_List" /> from
		  (select tmp_tb.* , rownum rn from
			  (select <include refid="Base_Column_List" /> from TS_DICTYPE
			   <include refid="Base_Where_Clause"/>
			   <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	  ${pager.orderCondition}
			   </if>
			  ) tmp_tb where rownum &lt;= ${pager.endIndex})
			  where rn &gt;= ${pager.startIndex}

    </select>

	<select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
      select <include refid="Base_Column_List"/> from TS_USER
      <include refid="Base_Where_Clause"/>
      <if test="pager.orderCondition != null and pager.orderCondition != ''" >
         ${pager.orderCondition}
      </if>
	</select>

	<select id="getTypeIdByDicIdAndTypeName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TS_DICTYPE
		where DIC_TYPE_NAME = #{typeName} AND DIC_ID = #{dicId} AND valid_flag = 0
	</select>

	<insert id="batchInsertTypeEo" >
		INSERT INTO TS_DICTYPE  ("ID","parent_id","valid_flag", "DIC_ID", "DIC_TYPE_NAME")
		VALUES
		<foreach collection="ModelType" item="eo" separator=",">
			(#{eo.id},#{eo.parentId},#{eo.validFlag},#{eo.dicId},#{eo.dicTypeName})
		</foreach>
	</insert>
	
	<update id="deleteDicTypeByDicId" parameterType="java.lang.String">
		update TS_DICTYPE
		set valid_flag = 1
		where DIC_ID = #{id}
	</update>
	<!--李文轩：这是删除一条数据和上面的写重复了-->
	<!--<update id="deleteFlagTo1" parameterType="java.lang.String">
		update TS_DICTYPE
		set valid_flag = 1
		where id = #{id}
	</update>-->
</mapper>
