<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.person.dao.UserConfigEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.person.entity.UserConfigEO" >
    <id column="id" property="id" />
    <result column="modify_time" property="modifyTime" />
    <result column="creation_time" property="creationTime" />
    <result column="valid_flag" property="validFlag" />
    <result column="config_content" property="configContent" />
    <result column="config_type" property="configType" />
    <result column="user_id" property="userId" />
  </resultMap>

  <!-- TS_USER_CONFIG table all fields -->
  <sql id="Base_Column_List" >
     modify_time, creation_time, valid_flag, config_content, config_type, user_id, id
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="modifyTime != null" >
        and modify_time ${modifyTimeOperator} #{modifyTime}
      </if>
      <if test="modifyTime1 != null" >
        and modify_time &gt;= #{modifyTime1}
      </if>
      <if test="modifyTime2 != null" >
        and modify_time &lt;= #{modifyTime2}
      </if>
      <if test="creationTime != null" >
        and creation_time ${creationTimeOperator} #{creationTime}
      </if>
      <if test="creationTime1 != null" >
        and creation_time &gt;= #{creationTime1}
      </if>
      <if test="creationTime2 != null" >
        and creation_time &lt;= #{creationTime2}
      </if>
      <if test="validFlag != null" >
        and valid_flag ${validFlagOperator} #{validFlag}
      </if>
      <if test="configContent != null" >
        and config_content ${configContentOperator} #{configContent}
      </if>
      <if test="configType != null" >
        and config_type ${configTypeOperator} #{configType}
      </if>
      <if test="userId != null" >
        and user_id ${userIdOperator} #{userId}
      </if>
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.person.entity.UserConfigEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_TS_USER_CONFIG.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into TS_USER_CONFIG(<include refid="Base_Column_List" />)
    values (#{modifyTime, jdbcType=TIMESTAMP}, #{creationTime, jdbcType=TIMESTAMP}, #{validFlag, jdbcType=INTEGER}, #{configContent, jdbcType=VARCHAR}, #{configType, jdbcType=VARCHAR}, #{userId, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.person.entity.UserConfigEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_TS_USER_CONFIG.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into TS_USER_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >modify_time,</if>
                <if test="creationTime != null" >creation_time,</if>
                <if test="validFlag != null" >valid_flag,</if>
                <if test="configContent != null" >config_content,</if>
                <if test="configType != null" >config_type,</if>
                <if test="userId != null" >user_id,</if>
                <if test="id != null" >id,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="modifyTime != null" >#{modifyTime, jdbcType=TIMESTAMP},</if>
                <if test="creationTime != null" >#{creationTime, jdbcType=TIMESTAMP},</if>
                <if test="validFlag != null" >#{validFlag, jdbcType=INTEGER},</if>
                <if test="configContent != null" >#{configContent, jdbcType=VARCHAR},</if>
                <if test="configType != null" >#{configType, jdbcType=VARCHAR},</if>
                <if test="userId != null" >#{userId, jdbcType=VARCHAR},</if>
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.person.entity.UserConfigEO" >
    update TS_USER_CONFIG
       set  modify_time = #{modifyTime},
            creation_time = #{creationTime},
            valid_flag = #{validFlag},
            config_content = #{configContent},
            config_type = #{configType},
            user_id = #{userId}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.person.entity.UserConfigEO" >
    update TS_USER_CONFIG
    <set >
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime},
      </if>
      <if test="validFlag != null" >
        valid_flag = #{validFlag},
      </if>
      <if test="configContent != null" >
        config_content = #{configContent},
      </if>
      <if test="configType != null" >
        config_type = #{configType},
      </if>
      <if test="userId != null" >
        user_id = #{userId},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 TS_USER_CONFIG -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from TS_USER_CONFIG
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TS_USER_CONFIG
     where id = #{value}

  </delete>

  <!-- TS_USER_CONFIG 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from TS_USER_CONFIG
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TS_USER_CONFIG列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from TS_USER_CONFIG
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from TS_USER_CONFIG
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
